.pokemon_item {
  width: 300px;
  margin-top: 16px;
  background-color: #e7e7e7;
}

.header,
.types {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.sort_wrapper {
  display: flex;
  align-items: center;
}

.sort_select {
  margin: 0 40px 0 15px;
}

.modal_text {
  display: flex;
  align-items: center;
}
