.pokemon_items {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  gap: 20px;
  align-items: center;
}

.section {
  width: 1440px;
  padding: 40px 20px;
  margin: 0 auto;
  background-color: #fff;
}

.section_main {
  max-width: 100%;
}

.pagination_wrapper {
  text-align: center;
  margin-top: 20px;
}
